# 探索的データ分析をしていこう！

In [56]:
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [57]:
files = glob.glob("train/*.csv")

In [58]:
files

['train/40.csv',
 'train/41.csv',
 'train/43.csv',
 'train/42.csv',
 'train/46.csv',
 'train/47.csv',
 'train/45.csv',
 'train/44.csv',
 'train/37.csv',
 'train/23.csv',
 'train/22.csv',
 'train/36.csv',
 'train/08.csv',
 'train/20.csv',
 'train/34.csv',
 'train/35.csv',
 'train/21.csv',
 'train/09.csv',
 'train/25.csv',
 'train/31.csv',
 'train/19.csv',
 'train/18.csv',
 'train/30.csv',
 'train/24.csv',
 'train/32.csv',
 'train/26.csv',
 'train/27.csv',
 'train/33.csv',
 'train/16.csv',
 'train/02.csv',
 'train/03.csv',
 'train/17.csv',
 'train/29.csv',
 'train/01.csv',
 'train/15.csv',
 'train/14.csv',
 'train/28.csv',
 'train/04.csv',
 'train/10.csv',
 'train/38.csv',
 'train/39.csv',
 'train/11.csv',
 'train/05.csv',
 'train/13.csv',
 'train/07.csv',
 'train/06.csv',
 'train/12.csv']

In [59]:
files[0]

'train/40.csv'

In [60]:
pd.read_csv(files[0])

,ID,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
0,40108844,中古マンション等,NaN,40218,福岡県,春日市,昇町,博多南,23,３ＬＤＫ,...,NaN,NaN,NaN,第２種住居地域,60.0,200.0,2012年第１四半期,改装済,NaN,7.230449
1,40001245,中古マンション等,NaN,40103,福岡県,北九州市若松区,久岐の浜,若松,10,４ＬＤＫ,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2015年第４四半期,改装済,NaN,6.875061
2,40068753,中古マンション等,NaN,40132,福岡県,福岡市博多区,古門戸町,中洲川端,4,２ＬＤＫ,...,NaN,NaN,NaN,商業地域,80.0,500.0,2010年第１四半期,未改装,NaN,7.041393
3,40009332,中古マンション等,NaN,40109,福岡県,北九州市八幡西区,南王子町,黒崎,25,３ＬＤＫ,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,200.0,2018年第１四半期,未改装,NaN,7.041393
4,40030654,中古マンション等,NaN,40137,福岡県,福岡市早良区,百道浜,西新,16,３ＬＤＫ,...,NaN,NaN,NaN,商業地域,80.0,400.0,2019年第２四半期,未改装,NaN,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29951,40062185,中古マンション等,NaN,40105,福岡県,北九州市戸畑区,千防,戸畑,18,３ＬＤＫ,...,NaN,NaN,NaN,近隣商業地域,80.0,200.0,2014年第３四半期,改装済,NaN,7.041393
29952,40079975,中古マンション等,NaN,40135,福岡県,福岡市西区,今宿駅前,今宿,7,３ＬＤＫ,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2011年第４四半期,未改装,NaN,7.079181
29953,40024481,中古マンション等,NaN,40135,福岡県,福岡市西区,愛宕,室見,9,３ＬＤＫ,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2016年第１四半期,未改装,NaN,7.255273
29954,40027329,中古マンション等,NaN,40136,福岡県,福岡市城南区,長尾,茶山(福岡),28,２ＬＤＫ,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,150.0,2015年第１四半期,改装済,NaN,6.653213
29955,40011765,中古マンション等,NaN,40131,福岡県,福岡市東区,筥松,香椎神宮,14,３ＬＤＫ,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,150.0,2016年第３四半期,未改装,NaN,7.397940

In [61]:
data_list = []
# 全CSVファイルを読み込み、結合
for file in files:
    data_list.append(pd.read_csv(file, index_col=0))

/var/folders/mj/jtvz1fc56cg_bmj2rjs3ykwc0000gn/T/ipykernel_76291/3370736147.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list.append(pd.read_csv(file, index_col=0))
/var/folders/mj/jtvz1fc56cg_bmj2rjs3ykwc0000gn/T/ipykernel_76291/3370736147.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data_list.append(pd.read_csv(file, index_col=0))

In [62]:
df = pd.concat(data_list)

In [63]:
#data_listをそのまま全表示するとOutputが膨大
df.shape

(637351, 27)

In [64]:
df

,種類,地域,市区町村コード,都道府県名,市区町村名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,...,前面道路：方位,前面道路：種類,前面道路：幅員（ｍ）,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
ID,,,,,,,,,,,,,,,,,,,,,
40108844,中古マンション等,NaN,40218,福岡県,春日市,昇町,博多南,23,３ＬＤＫ,70,...,NaN,NaN,NaN,第２種住居地域,60.0,200.0,2012年第１四半期,改装済,NaN,7.230449
40001245,中古マンション等,NaN,40103,福岡県,北九州市若松区,久岐の浜,若松,10,４ＬＤＫ,95,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2015年第４四半期,改装済,NaN,6.875061
40068753,中古マンション等,NaN,40132,福岡県,福岡市博多区,古門戸町,中洲川端,4,２ＬＤＫ,50,...,NaN,NaN,NaN,商業地域,80.0,500.0,2010年第１四半期,未改装,NaN,7.041393
40009332,中古マンション等,NaN,40109,福岡県,北九州市八幡西区,南王子町,黒崎,25,３ＬＤＫ,70,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,200.0,2018年第１四半期,未改装,NaN,7.041393
40030654,中古マンション等,NaN,40137,福岡県,福岡市早良区,百道浜,西新,16,３ＬＤＫ,120,...,NaN,NaN,NaN,商業地域,80.0,400.0,2019年第２四半期,未改装,NaN,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12096286,中古マンション等,NaN,12203,千葉県,市川市,塩浜,南行徳,23,２ＬＤＫ,60,...,NaN,NaN,NaN,第１種住居地域,60.0,200.0,2009年第２四半期,未改装,NaN,7.113943
12171266,中古マンション等,NaN,12221,千葉県,八千代市,八千代台東,八千代台,1,３ＬＤＫ,70,...,NaN,NaN,NaN,近隣商業地域,80.0,300.0,2013年第１四半期,未改装,NaN,7.041393
12158761,中古マンション等,NaN,12216,千葉県,習志野市,実籾,京成大久保,13,３ＬＤＫ,75,...,NaN,NaN,NaN,工業地域,60.0,200.0,2008年第１四半期,未改装,NaN,7.230449
12098307,中古マンション等,NaN,12203,千葉県,市川市,関ケ島,行徳,13,３ＬＤＫ,75,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,200.0,2013年第３四半期,改装済,NaN,7.322219
12009989,中古マンション等,NaN,12106,千葉県,千葉市美浜区,高洲,稲毛海岸,3,２ＤＫ,45,...,NaN,NaN,NaN,第１種中高層住居専用地域,60.0,200.0,2018年第３四半期,未改装,NaN,6.812913

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 40108844 to 12009989
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   種類            637351 non-null  object
 1   地域            0 non-null       float64
 2   市区町村コード       637351 non-null  int64
 3   都道府県名         637351 non-null  object
 4   市区町村名         637351 non-null  object
 5   地区名           637060 non-null  object
 6   最寄駅：名称        634732 non-null  object
 7   最寄駅：距離（分）     614306 non-null  object
 8   間取り           615609 non-null  object
 9   面積（㎡）         637351 non-null  object
 10  土地の形状         0 non-null       float64
 11  間口            0 non-null       float64
 12  延床面積（㎡）       0 non-null       float64
 13  建築年           619117 non-null  object
 14  建物の構造         623423 non-null  object
 15  用途            591214 non-null  object
 16  今後の利用目的       275091 non-null  object
 17  前面道路：方位       0 non-null       float64
 18  前面道路：種類       0 non-null       float64
 19  前面道路：幅員（ｍ）    0 non-null       float64
 20  都市計画          618786 non-null  object
 21  建ぺい率（％）       614848 non-null  float64
 22  容積率（％）        614848 non-null  float64
 23  取引時点          637351 non-null  object
 24  改装            580431 non-null  object
 25  取引の事情等        18275 non-null   object
 26  取引価格（総額）_log  637351 non-null  float64
dtypes: float64(10), int64(1), object(16)
memory usage: 136.2+ MB

### data件数 0 non-null は全く意味を成さないデータなので除外対象

In [66]:
# 「地域」などの除外対象の項目名をリストにして一括削除
nonnull_list = []
for col in df.columns:
    nonnull = df[col].count()
    if nonnull == 0:
        nonnull_list.append(col)
nonnull_list

['地域', '土地の形状', '間口', '延床面積（㎡）', '前面道路：方位', '前面道路：種類', '前面道路：幅員（ｍ）']

In [67]:
# 0 non-null の項目を全て除外して上書き
df = df.drop(nonnull_list, axis=1)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 40108844 to 12009989
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   種類            637351 non-null  object
 1   市区町村コード       637351 non-null  int64
 2   都道府県名         637351 non-null  object
 3   市区町村名         637351 non-null  object
 4   地区名           637060 non-null  object
 5   最寄駅：名称        634732 non-null  object
 6   最寄駅：距離（分）     614306 non-null  object
 7   間取り           615609 non-null  object
 8   面積（㎡）         637351 non-null  object
 9   建築年           619117 non-null  object
 10  建物の構造         623423 non-null  object
 11  用途            591214 non-null  object
 12  今後の利用目的       275091 non-null  object
 13  都市計画          618786 non-null  object
 14  建ぺい率（％）       614848 non-null  float64
 15  容積率（％）        614848 non-null  float64
 16  取引時点          637351 non-null  object
 17  改装            580431 non-null  object
 18  取引の事情等        18275 non-null   object
 19  取引価格（総額）_log  637351 non-null  float64
dtypes: float64(3), int64(1), object(16)
memory usage: 102.1+ MB

In [69]:
# 「市区町村コード」と「市区町村名」は完全に一致する、分析モデルとして非常によくない（多重共線性）
df["市区町村コード"].value_counts()

13111    12269
13108    11591
13112    10747
13103    10580
13104    10055
         ...
40341        1
40213        1
4301         1
40345        1
28226        1
Name: 市区町村コード, Length: 618, dtype: int64

In [70]:
df["市区町村名"].value_counts()

大田区       12269
江東区       11591
世田谷区      10747
港区        10580
新宿区       10055
          ...
粕屋郡宇美町        1
行橋市           1
刈田郡蔵王町        1
粕屋郡新宮町        1
淡路市           1
Name: 市区町村名, Length: 618, dtype: int64

In [71]:
# やはり完全に一致しているので、片方を除外する
df = df.drop("市区町村名", axis=1)

In [72]:
df

,種類,市区町村コード,都道府県名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
ID,,,,,,,,,,,,,,,,,,,
40108844,中古マンション等,40218,福岡県,昇町,博多南,23,３ＬＤＫ,70,平成16年,ＲＣ,住宅,NaN,第２種住居地域,60.0,200.0,2012年第１四半期,改装済,NaN,7.230449
40001245,中古マンション等,40103,福岡県,久岐の浜,若松,10,４ＬＤＫ,95,平成5年,ＲＣ,住宅,住宅,第１種住居地域,60.0,200.0,2015年第４四半期,改装済,NaN,6.875061
40068753,中古マンション等,40132,福岡県,古門戸町,中洲川端,4,２ＬＤＫ,50,平成9年,ＳＲＣ,住宅,NaN,商業地域,80.0,500.0,2010年第１四半期,未改装,NaN,7.041393
40009332,中古マンション等,40109,福岡県,南王子町,黒崎,25,３ＬＤＫ,70,平成13年,ＲＣ,NaN,住宅,第１種中高層住居専用地域,60.0,200.0,2018年第１四半期,未改装,NaN,7.041393
40030654,中古マンション等,40137,福岡県,百道浜,西新,16,３ＬＤＫ,120,平成22年,ＲＣ,NaN,住宅,商業地域,80.0,400.0,2019年第２四半期,未改装,NaN,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12096286,中古マンション等,12203,千葉県,塩浜,南行徳,23,２ＬＤＫ,60,昭和56年,ＲＣ,住宅,NaN,第１種住居地域,60.0,200.0,2009年第２四半期,未改装,NaN,7.113943
12171266,中古マンション等,12221,千葉県,八千代台東,八千代台,1,３ＬＤＫ,70,NaN,ＳＲＣ,住宅,NaN,近隣商業地域,80.0,300.0,2013年第１四半期,未改装,NaN,7.041393
12158761,中古マンション等,12216,千葉県,実籾,京成大久保,13,３ＬＤＫ,75,平成11年,ＲＣ,住宅,NaN,工業地域,60.0,200.0,2008年第１四半期,未改装,NaN,7.230449
12098307,中古マンション等,12203,千葉県,関ケ島,行徳,13,３ＬＤＫ,75,昭和57年,ＲＣ,住宅,NaN,第１種中高層住居専用地域,60.0,200.0,2013年第３四半期,改装済,NaN,7.322219
12009989,中古マンション等,12106,千葉県,高洲,稲毛海岸,3,２ＤＫ,45,昭和51年,ＲＣ,住宅,住宅,第１種中高層住居専用地域,60.0,200.0,2018年第３四半期,未改装,NaN,6.812913

In [73]:
# 数値型になっているデータの統計量を見てみる
df.describe()

             市区町村コード        建ぺい率（％）         容積率（％）   取引価格（総額）_log
count  637351.000000  614848.000000  614848.000000  637351.000000
mean    18513.985300      67.601944     301.601876       7.217424
std      9596.722442      10.402295     148.105400       0.353935
min      1101.000000      30.000000      50.000000       2.653213
25%     13106.000000      60.000000     200.000000       7.000000
50%     14104.000000      60.000000     200.000000       7.255273
75%     27114.000000      80.000000     400.000000       7.447158
max     47213.000000      80.000000    1300.000000       9.934498

In [74]:
# 数値型でなくオブジェクト型（文字列）が入っているものの統計
df.astype("str").describe()

,種類,市区町村コード,都道府県名,地区名,最寄駅：名称,最寄駅：距離（分）,間取り,面積（㎡）,建築年,建物の構造,用途,今後の利用目的,都市計画,建ぺい率（％）,容積率（％）,取引時点,改装,取引の事情等,取引価格（総額）_log
count,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351,637351
unique,1,618,47,12047,3832,35,64,114,77,13,23,5,17,7,18,58,3,10,380
top,中古マンション等,13111,東京都,本町,nan,6,３ＬＤＫ,70,平成3年,ＲＣ,住宅,nan,商業地域,60.0,200.0,2014年第１四半期,未改装,nan,7.176091259055681
freq,637351,12269,190524,5267,2619,50928,272449,83443,21982,431050,583722,362260,172628,349347,293388,13561,419268,619076,20996

In [75]:
# 「種類」は全て同じ「中古マンション等」が入っているのでこれも全く意味を成さないデータ
df["種類"]

ID
40108844    中古マンション等
40001245    中古マンション等
40068753    中古マンション等
40009332    中古マンション等
40030654    中古マンション等
              ...
12096286    中古マンション等
12171266    中古マンション等
12158761    中古マンション等
12098307    中古マンション等
12009989    中古マンション等
Name: 種類, Length: 637351, dtype: object

In [76]:
df["種類"].value_counts()

中古マンション等    637351
Name: 種類, dtype: int64

In [77]:
df = df.drop("種類", axis=1)

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 40108844 to 12009989
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   市区町村コード       637351 non-null  int64
 1   都道府県名         637351 non-null  object
 2   地区名           637060 non-null  object
 3   最寄駅：名称        634732 non-null  object
 4   最寄駅：距離（分）     614306 non-null  object
 5   間取り           615609 non-null  object
 6   面積（㎡）         637351 non-null  object
 7   建築年           619117 non-null  object
 8   建物の構造         623423 non-null  object
 9   用途            591214 non-null  object
 10  今後の利用目的       275091 non-null  object
 11  都市計画          618786 non-null  object
 12  建ぺい率（％）       614848 non-null  float64
 13  容積率（％）        614848 non-null  float64
 14  取引時点          637351 non-null  object
 15  改装            580431 non-null  object
 16  取引の事情等        18275 non-null   object
 17  取引価格（総額）_log  637351 non-null  float64
dtypes: float64(3), int64(1), object(14)
memory usage: 92.4+ MB

### 「最寄駅：距離（分）」や「面積（㎡）」等はobject型から数値型に変換したい

In [79]:
# Jupyter notebookで表示されるpandasの出力結果の件数を増やしておく
pd.set_option("display.max_rows", 200)
df["最寄駅：距離（分）"].value_counts()

6          50928
4          48883
5          45337
8          44277
3          42880
9          38379
7          32369
30分?60分    31999
10         31572
11         30625
2          27100
13         22934
1          19746
14         18759
15         18552
12         15068
16         14354
18         11651
19         10533
20          8910
21          7163
23          6663
25          6169
24          4884
28          4133
26          3996
0           3704
1H?1H30     3624
29          3587
17          2515
22          1082
2H?          826
1H30?2H      692
27           412
Name: 最寄駅：距離（分）, dtype: int64

In [80]:
# 文字の混じったデータを数値型で統一する (テストコード)
df_temp = df["最寄駅：距離（分）"].replace("30分?60分", 45)

In [81]:
df_temp.value_counts()

6          50928
4          48883
5          45337
8          44277
3          42880
9          38379
7          32369
45         31999
10         31572
11         30625
2          27100
13         22934
1          19746
14         18759
15         18552
12         15068
16         14354
18         11651
19         10533
20          8910
21          7163
23          6663
25          6169
24          4884
28          4133
26          3996
0           3704
1H?1H30     3624
29          3587
17          2515
22          1082
2H?          826
1H30?2H      692
27           412
Name: 最寄駅：距離（分）, dtype: int64

In [82]:
# 変換対象を辞書型(Python独自の配列の一種)に一旦入れて全て置き換え、更に全てfloat型に変換する
dist = {
    "30分?60分":45,
    "1H?1H30":75,
    "2H?":120,
    "1H30?2H":105
}
df["最寄駅：距離（分）"] = df["最寄駅：距離（分）"].replace(dist).astype(float)

In [83]:
df["最寄駅：距離（分）"].value_counts()

6.0      50928
4.0      48883
5.0      45337
8.0      44277
3.0      42880
9.0      38379
7.0      32369
45.0     31999
10.0     31572
11.0     30625
2.0      27100
13.0     22934
1.0      19746
14.0     18759
15.0     18552
12.0     15068
16.0     14354
18.0     11651
19.0     10533
20.0      8910
21.0      7163
23.0      6663
25.0      6169
24.0      4884
28.0      4133
26.0      3996
0.0       3704
75.0      3624
29.0      3587
17.0      2515
22.0      1082
120.0      826
105.0      692
27.0       412
Name: 最寄駅：距離（分）, dtype: int64

In [84]:
df["面積（㎡）"].value_counts()

70         70301
65         65176
60         51968
75         47362
20         40770
55         39149
80         32482
50         27629
15         25113
85         19604
25         18841
45         17514
70         13142
65         13113
90         12485
40         12221
60         11289
20         11258
30          9880
35          9482
75          9282
95          9121
55          8035
80          7090
15          5740
25          5654
50          5448
85          4530
100         4501
45          3147
90          2889
40          2785
105         2594
30          2548
35          2174
95          1887
110         1625
115         1176
10          1003
100          925
120          806
105          581
125          562
130          405
110          394
10           310
115          308
135          300
145          215
140          203
120          193
125          162
150          145
130          141
155          131
135           98
160           91
165           79
180           77
140           73
145           72
170           71
190           54
185           53
150           44
175           44
210           43
230           42
200           39
160           38
155           36
195           36
220           30
180           27
170           27
240           22
250           22
260           21
270           20
290           16
185           16
190           15
165           14
175           12
210           12
340           11
330           10
390            9
200            8
310            8
195            8
370            8
360            7
440            7
350            7
320            7
280            7
480            7
450            7
2000㎡以上        7
1000           6
220            6
460            6
320            5
290            5
500            5
300            5
310            4
380            4
680            4
760            4
250            4
970            3
490            3
470            3
650            3
690            3
710            3
260            3
410            3
300            3
630            3
360            3
230            3
860            3
270            3
700            3
590            3
730            3
340            2
520            2
580            2
450            2
770            2
660            2
1100           2
240            2
390            2
1300           2
420            2
400            2
560            2
510            2
1200           2
670            2
410            2
400            2
470            2
650            2
590            2
600            2
430            2
520            2
620            2
710            1
350            1
1400           1
530            1
740            1
760            1
830            1
510            1
990            1
370            1
280            1
1500           1
630            1
820            1
720            1
1500           1
740            1
890            1
980            1
570            1
820            1
940            1
800            1
830            1
660            1
480            1
550            1
540            1
960            1
610            1
900            1
500            1
440            1
790            1
780            1
730            1
900            1
490            1
560            1
330            1
780            1
Name: 面積（㎡）, dtype: int64

In [85]:
# 「2000㎡以上」が混じっているので数値型に置き換える
df["面積（㎡）"] = df["面積（㎡）"].replace("2000㎡以上", 2000).astype(float)
df["面積（㎡）"].value_counts()

70.0      83443
65.0      78289
60.0      63257
75.0      56644
20.0      52028
55.0      47184
80.0      39572
50.0      33077
15.0      30853
25.0      24495
85.0      24134
45.0      20661
90.0      15374
40.0      15006
30.0      12428
35.0      11656
95.0      11008
100.0      5426
105.0      3175
110.0      2019
115.0      1484
10.0       1313
120.0       999
125.0       724
130.0       546
135.0       398
145.0       287
140.0       276
150.0       189
155.0       167
160.0       129
180.0       104
170.0        98
165.0        93
185.0        69
190.0        69
175.0        56
210.0        55
200.0        47
230.0        45
195.0        44
220.0        36
250.0        26
260.0        24
240.0        24
270.0        23
290.0        21
340.0        13
320.0        12
310.0        12
390.0        11
330.0        11
360.0        10
370.0         9
450.0         9
350.0         8
280.0         8
300.0         8
480.0         8
440.0         8
2000.0        7
460.0         6
1000.0        6
500.0         6
470.0         5
590.0         5
760.0         5
650.0         5
410.0         5
490.0         4
380.0         4
710.0         4
730.0         4
680.0         4
630.0         4
520.0         4
400.0         4
700.0         3
690.0         3
860.0         3
560.0         3
970.0         3
510.0         3
660.0         3
740.0         2
1100.0        2
900.0         2
580.0         2
770.0         2
420.0         2
1500.0        2
600.0         2
1300.0        2
430.0         2
780.0         2
820.0         2
670.0         2
830.0         2
1200.0        2
620.0         2
960.0         1
940.0         1
980.0         1
540.0         1
550.0         1
1400.0        1
530.0         1
800.0         1
570.0         1
990.0         1
790.0         1
720.0         1
890.0         1
610.0         1
Name: 面積（㎡）, dtype: int64

### 和暦のデータを加工

In [86]:
df["建築年"]

ID
40108844    平成16年
40001245     平成5年
40068753     平成9年
40009332    平成13年
40030654    平成22年
            ...
12096286    昭和56年
12171266      NaN
12158761    平成11年
12098307    昭和57年
12009989    昭和51年
Name: 建築年, Length: 637351, dtype: object

In [87]:
df["建築年"].value_counts().keys()

Index(['平成3年', '平成20年', '平成18年', '平成19年', '平成10年', '平成15年', '平成12年', '平成17年',
       '平成7年', '平成2年', '平成8年', '平成14年', '平成9年', '平成13年', '平成11年', '平成16年',
       '昭和64年', '平成4年', '昭和63年', '平成21年', '平成6年', '昭和62年', '昭和59年', '昭和60年',
       '昭和61年', '昭和49年', '平成5年', '平成22年', '昭和54年', '昭和57年', '昭和55年', '昭和56年',
       '平成24年', '平成23年', '昭和48年', '昭和58年', '昭和53年', '平成25年', '昭和50年', '昭和52年',
       '平成26年', '昭和51年', '昭和47年', '平成27年', '昭和46年', '昭和45年', '平成28年', '昭和44年',
       '昭和43年', '平成29年', '平成30年', '昭和42年', '平成31年', '昭和41年', '戦前', '昭和40年',
       '昭和39年', '昭和38年', '令和2年', '昭和37年', '昭和22年', '昭和34年', '昭和36年', '昭和21年',
       '昭和33年', '昭和28年', '昭和25年', '昭和35年', '昭和24年', '昭和29年', '昭和27年', '昭和23年',
       '昭和31年', '昭和26年', '昭和32年', '昭和30年'],
      dtype='object')

#### まずは「戦前」以外の和暦を西暦に変換

In [88]:
# テストコード
df["建築年"].value_counts().keys()[0].split("平成")[1].split("年")[0]

'3'

In [96]:
#現在年を取得
import datetime
currentDateTime = datetime.datetime.now()
date = currentDateTime.date()
nowyear = int(date.strftime("%Y")) # 計算に使う為に数値型に型変換しておく
print(f"Current Year -> {nowyear}")

Current Year -> 2023

#### 和暦の建築年を築年数に変換する

In [97]:
y_list = {}

for i in df["建築年"].value_counts().keys():
    if "昭和" in i:
        num = int(i.split("昭和")[1].split("年")[0])
        # year = 96 - num #この方式だとこのプログラムが元々書かれた2021年にしか正常に動作せず、毎年書き換えが必要
        year = nowyear - (1925 + num)
    if "平成" in i:
        num = int(i.split("平成")[1].split("年")[0])
        year = nowyear - (1988 + num)
    if "令和" in i:
        num = int(i.split("令和")[1].split("年")[0])
        year = nowyear - (2018 + num)
    y_list[i] = year #幅のある「戦前」には対応できないが、とりあえず並び順の問題で直前の「昭和41年」と同じ数値が入る（後で修正する）
y_list

{'平成3年': 32,
 '平成20年': 15,
 '平成18年': 17,
 '平成19年': 16,
 '平成10年': 25,
 '平成15年': 20,
 '平成12年': 23,
 '平成17年': 18,
 '平成7年': 28,
 '平成2年': 33,
 '平成8年': 27,
 '平成14年': 21,
 '平成9年': 26,
 '平成13年': 22,
 '平成11年': 24,
 '平成16年': 19,
 '昭和64年': 34,
 '平成4年': 31,
 '昭和63年': 35,
 '平成21年': 14,
 '平成6年': 29,
 '昭和62年': 36,
 '昭和59年': 39,
 '昭和60年': 38,
 '昭和61年': 37,
 '昭和49年': 49,
 '平成5年': 30,
 '平成22年': 13,
 '昭和54年': 44,
 '昭和57年': 41,
 '昭和55年': 43,
 '昭和56年': 42,
 '平成24年': 11,
 '平成23年': 12,
 '昭和48年': 50,
 '昭和58年': 40,
 '昭和53年': 45,
 '平成25年': 10,
 '昭和50年': 48,
 '昭和52年': 46,
 '平成26年': 9,
 '昭和51年': 47,
 '昭和47年': 51,
 '平成27年': 8,
 '昭和46年': 52,
 '昭和45年': 53,
 '平成28年': 7,
 '昭和44年': 54,
 '昭和43年': 55,
 '平成29年': 6,
 '平成30年': 5,
 '昭和42年': 56,
 '平成31年': 4,
 '昭和41年': 57,
 '戦前': 57,
 '昭和40年': 58,
 '昭和39年': 59,
 '昭和38年': 60,
 '令和2年': 3,
 '昭和37年': 61,
 '昭和22年': 76,
 '昭和34年': 64,
 '昭和36年': 62,
 '昭和21年': 77,
 '昭和33年': 65,
 '昭和28年': 70,
 '昭和25年': 73,
 '昭和35年': 63,
 '昭和24年': 74,
 '昭和29年': 69,
 '昭和27年': 71,
 '昭和23年': 75,
 '昭和31年': 67,
 '昭和26年': 72,
 '昭和32年': 66,
 '昭和30年': 68}

In [98]:
df["建築年"] = df["建築年"].replace(y_list)

In [99]:
df["建築年"]

ID
40108844    19.0
40001245    30.0
40068753    26.0
40009332    22.0
40030654    13.0
            ...
12096286    42.0
12171266     NaN
12158761    24.0
12098307    41.0
12009989    47.0
Name: 建築年, Length: 637351, dtype: float64

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637351 entries, 40108844 to 12009989
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   市区町村コード       637351 non-null  int64
 1   都道府県名         637351 non-null  object
 2   地区名           637060 non-null  object
 3   最寄駅：名称        634732 non-null  object
 4   最寄駅：距離（分）     614306 non-null  float64
 5   間取り           615609 non-null  object
 6   面積（㎡）         637351 non-null  float64
 7   建築年           619117 non-null  float64
 8   建物の構造         623423 non-null  object
 9   用途            591214 non-null  object
 10  今後の利用目的       275091 non-null  object
 11  都市計画          618786 non-null  object
 12  建ぺい率（％）       614848 non-null  float64
 13  容積率（％）        614848 non-null  float64
 14  取引時点          637351 non-null  object
 15  改装            580431 non-null  object
 16  取引の事情等        18275 non-null   object
 17  取引価格（総額）_log  637351 non-null  float64
dtypes: float64(6), int64(1), object(11)
memory usage: 92.4+ MB

<hr>

この続きはUdemy動画[【初学者向け】データ分析コンペで楽しみながら学べるPython×データ分析講座](https://persolchallengejp.udemy.com/course/python-data/learn/lecture/25711986#overview) <br>
Section4-chapter33.「取引時点のデータを加工しよう」から再開

# ただし、現状の学習優先度は低い。
## 同じPython学習にコストをかけるなら、先日作ったWebスクレイピングのプログラムを組み込む形で**SmartAPI**(or Flask)等でJSONを返すAPIを作るなどした方が良い
### 中途半端に統計学やデータ分析、機械学習やPython独自のWAFの知識を仕入れるより、他言語でのポートフォリオ作成やそれらのAWS等での公開を優先する。